# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Custom executables
*.exe
*.out
*.app

# Makefile executable (Linux)
stein

# Cscope files
cscope.*
